.home-container{
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    background-image: url("../../assets/papier-ancien.jpg");
    overflow: hidden;
}

.input{
    font-size: 1.5em;
    height: 1.5em;
    margin: 10px auto;
    width : 200px;
    border :  1px solid rgba(201, 201, 201, 0);
    border-bottom-color: rgba(0, 0, 0, 0.555);
    border-radius: 20px;
    padding-left: 20px;
    background-color: rgba(201, 201, 201, 0);
}

.input:focus, button:focus {
    border-radius: 20px;
    border :  1px solid rgba(0, 140, 255, 0.726);
    outline:none;
    color: rgb(0, 140, 255);
}

.input::placeholder { 
    color: rgba(85, 85, 85, 0.473);
    opacity: 1; /* Firefox */
  }

  
.input:focus::placeholder { 
    color: rgba(0, 140, 255, 0.726);
    opacity: 1; /* Firefox */
  }

button{
    background-color: rgba(0, 140, 255, 0.75);
    border-radius: 20px;
    border :  1px solid rgba(201, 201, 201, 0);
    height: 40px;
    margin-bottom: 10px 
  }

  button:hover{
    background-color: rgba(0, 140, 255, 0.500);
  }

  .homepage-btn{
      margin : 20px;
      color : white;
      font-size: 1.25em;
      font-weight: bold;
      width: 100px;
  }

.logo{
  width:300px;
  height: 83,33;
  margin-bottom: 100px;
}
@media screen and (min-width: 640px) {
  .logo{
    width: 500px;
    height: 138,88px;
  }
}